.body-splash{
    background-image: url(../images/Backgroud31.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.body-login{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.body-signup{
    background-image: url(../images/background2.webp);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.body-main{
    background-color: #D9D9D9;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "BreeSerif";
    src: url(../font/BreeSerif-Regular.ttf) format('truetype');
}

/* essential */



h1 {
    color: #495c5d;
    text-align: center;
    font-family:"BreeSerif";
}

/* font */

.container {
    position: relative;
    padding: 4px;
    border-radius: 8px;
    background-color: transparent;
    max-width: 400px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
}

.container::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:white;
    border-radius: inherit;
    z-index: -1;
    opacity: 55%;
}

input{
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: large;
    font-family: "BreeSerif";
    color: #495c5d;
}

button{
    width: 50%;
    padding: 10px;
    background-color: #495c5d;
    color: white;
    border: 1px;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    font-family:"BreeSerif";
}

button:hover{
    background-color: #566d6e;
}

a{
    font-family: "BreeSerif";
    font-size: 20px;
    color: #095c5d;
}

p{
    font-family: "BreeSerif";
    font-size: 20px;
    color: #495c5d;
}

/* login */

.topContainer{
    background-color: #495c5d;
    width: 100vw;
    min-height: 10vh;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

a.bar{
    color: white;
    text-decoration: none;
    line-height: 2;
    white-space: nowrap;
    font-family:"BreeSerif";
}

a.bar:hover{
    color: gray;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-left: 45%;
    gap: 50px;
}


.garis{
    position: absolute;
    content: " ";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-bottom:2px solid white;
    margin-bottom: 30px;
    margin-left: 40%;
    width: 45%;
}

.login-button{
    border: none;
    color: #495c5d;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    font-family:"BreeSerif";
    margin: 20px;
    width: 70px;
    margin-left: 200px;
}

.login-button:hover{
    background-color: gray;
}

.menu-button{
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    padding-bottom: 2px;
    width: 50px;
    margin: 20px;
}

.menu-button:hover{
    background-color: gray;
}

.splash{
    background-image: url(../images/textbackground.png);
    background-repeat: no-repeat;
    margin-top: 15%;
    max-width: 100%;
    overflow: visible;
    margin-left: 30px;
    height: auto;
    min-height: 100vh;
}

h1.white{
    color: white;
    text-align: justify;
    margin-left: 30px;
}

p.white{
    color: white;
    text-align: justify;
    margin-left: 30px;
    width: 30%;
    line-height: 1.6;
}

.splashSec{
    background-image: url(../images/transport.png);
    background-repeat: no-repeat;
    margin-top: 400px;
    max-width: 100%;
    overflow: visible;
    margin-left: 200px;
    height: auto;
    min-height: 55vh;
}

h1.whiteright{
    color: white;
    margin-left: 30px;
    text-align: right;
    margin-right: 38.7%;
}

p.whiteright{
    color: white;
    text-align: justify;
    margin-left: 30px;
    width: 30%;
    float: right;
    line-height: 1.6;
    margin-right: 20%;

}

h1.center{
    text-align: center;
    color: white;
    font-family: "BreeSerif";
    margin-top: 100px;
    font-size: 200px;
    mask-image: linear-gradient(transparent, #495c5d 20%, #495c5d 55%, transparent 85%);
    -webkit-mask-image: linear-gradient(transparent, #495c5d 20%, #495c5d 55%, transparent 85%);
}

.bottomsplash{
    background-image: url(../images/landscapegroup.png);
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    min-height: 105vh;
    margin-left: 70px;
    margin-top: 10%;
    overflow: visible;
    justify-content: center;
    display: grid;
    place-items: center;
}

h1.whitebottomcolumn{
    color: white;
    max-width: 100%;
    font-size: 60px;
    margin-top: 50%;
    font-family:"BreeSerif";
}

.login-button-splash-bottom{
    background-color: white;
    width: 200px;
    height: 80px;
    font-size: 30px;
    color: #495c5d;
    font-family:"BreeSerif";
    margin-bottom: 50%;
}

.login-button-splash-bottom:hover{
    background-color: gray;
}

.bottomcontainer{
    background-color:#1B2222;
    max-width: 100%;
    min-height: 50vh;
    background-size: cover;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.bottomText{
    color: white;
    font-family:"BreeSerif";
    text-align: start;
    font-size: larger;
}
.bottomColumn{
    padding: 20px;
    margin-left: 50px;
}

a.bottomText{
    display: flex;
    margin-top: 10px;
    text-decoration: none;
}

a.bottomText:hover{
    color: gray;
}

/* splash */

span{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: -25px;
}

.domesticRow{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card{
    margin-top: 20px;
    width: 260px;
    background-color: #D9D9D9;
    border-radius: 28px;
}

.card img{
    width: inherit;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
}

.card:hover{
    background-color: null;
}

.card i{
    color: gold;
}

.card h3{
    opacity: 50%;
    font-family: "BreeSerif";
    color: #495c5d;
}

.bodyContainer{
    background-color: #d9d9d9;
    padding: 0;
    margin: 0;
    background-size: cover;
}